.page {
  background: #000;
  color: #fff;
}

.root {
  font-family: 'Inter', 'Arial', sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  width: 69%;
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
}

.header {
  margin-top: 45px;
}
.header-logo {
  width: 142px;
  height: 33px;
}

.header__border {
  margin-top: 40px;
  border-bottom: solid 1px #545454;
  opacity: 70%;
}

/* @media (max-width: 882px) {
	.header__border {

	}
} */
