.page {
  background: #000;
  color: #fff;
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
}

.root {
  font-family: 'Inter', 'Arial', sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  width: 69%;
  margin: 0 auto;
}

@media (max-width: 910px) {
	.root {
    width: 85%;
	}
}

@media (max-width: 410px) {
	.root {
    width: 95%;
	}
}

.header {
  margin-top: 45px;
}
.header-logo {
  width: 142px;
  height: 33px;
}

.header__border {
  margin-top: 40px;
  border-bottom: solid 1px #545454;
  opacity: 70%;
}

.profile {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 910px) {
	.profile {
    flex-direction: column;
    align-items: center;
	}
}

.profile__info {
  display: flex;
  align-items: center;
}

@media (max-width: 555px) {
	.profile__info {
    flex-direction: column;
    align-items: center;
	}
}

.profile__desc {
  margin-left: 30px;
}

@media (max-width: 555px) {
	.profile__desc {
    text-align: center;
    margin: 0;
	}
}

.profile__avatar {
  width: 128px;
  height: 128px;
  border-radius: 64px;
}

.profile__title {
  margin: 0;
  font-weight: 500;
  font-style: Medium;
  font-size: 42px;
  line-height: 110%;
}

@media (max-width: 410px) {
	.profile__title {
    font-size: 27px;
    line-height: 171%;
	}
}

.profile__subtitle {
  margin: 16px 0 0 0;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 100%;
}

.profile__icon-edit {
  width: 10px;
  padding: 7px;
  border: solid 1px #fff;
  margin-left: 17px;
}

@media (max-width: 410px) {
	.profile__icon-edit {
    width: 8px;
    padding: 5px;
	}
}

.profile__icon-add {
  width: 22px;
  padding: 14px 64px 14px 64px;
  border: solid 2px #fff;
}

@media (max-width: 555px) {
	.profile__icon-add {
    margin-top: 36px;
	}
}

@media (max-width: 410px) {
	.profile__icon-add {
    padding: 14px 130px 14px 130px;
	}
}
