.popup__close-img {
  position: absolute;
  height: 35px;
  top: -35px;
  right: -35px;
  transition: 0.4s;
}

.popup__close-img:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media (max-width: 470px) {
	.popup__close-img {
    height: 23px;
    top: -43px;
    right: 0;
  }
}
