.popup__close-img {
  position: absolute;
  top: -20px;
  right: -20px;
  transition: 0.4s;
}

.popup__close-img:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media (max-width: 470px) {
	.popup__close-img {
    top: -40px;
    right: 0;
  }
}
